{% extends 'base.html' %}

{% block content %}
<h1>{{ person.username }}님의 프로필</h1>

{% csrf_token %}

{% with followings=person.followings.all followers=person.followers.all %}
  <div>
    <div>
      
      {% comment %} 1. id 추가 {% endcomment %}
      <span id="followingNum">팔로잉 : {{ followings|length }}</span>
      <span id="followedNum">/ 팔로워 : {{ followers|length }}</span>
    </div>

    {% if request.user != person %}
      <div>
        <form class="followForm" data-user-pk="{{ person.pk }}">
        {% comment %} {% csrf_token %} {% endcomment %}

          {% if request.user in followers %}
          {% comment %} 2번 {% endcomment %}
            <button id="followBtn" class="btn btn-danger">언팔로우</button>
          {% else %}
            <button id="followBtn" class="btn btn-primary">팔로우</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
{% endwith %}


<hr>

<h2>{{ person.username }}'s 게시글</h2>
{% for article in person.article_set.all %}
  <div>{{ article.title }}</div>
{% endfor %}

<hr>

<h2>{{ person.username }}'s 댓글</h2>
{% for comment in person.comment_set.all %}
  <div>{{ comment.content }}</div>
{% endfor %}

<hr>

<h2>{{ person.username }}'s likes</h2>
{% for article in person.like_articles.all %}
  <div>{{ article.title }}</div>
{% endfor %}

<hr>

<a href="{% url 'articles:index' %}">[back]</a>
{% endblock %}



{% block script %}
<script>
  const followForm = document.querySelector('.followForm')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  console.log(followForm)
  console.log(followForm.followBtn)
  

    followForm.addEventListener('submit', function (event) {
      
      event.preventDefault()
      const pk = event.target.dataset.userPk
      
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/accounts/${pk}/follow/`,
        headers: { 'X-CSRFToken': csrftoken }
      })
        .then(function (res) {
          const followBtn = document.querySelector(`#followBtn`)
          const followingNum = document.querySelector(`#followingNum`)
          const followedNum = document.querySelector(`#followedNum`)


  

          followBtn.innerText = res.data.follow ? '팔로우 취소' : '팔로우'
          followBtn.classList.toggle('btn-danger')
          followBtn.classList.toggle('btn-primary')



          followingNum.innerText = '팔로잉: ' + res.data.following_count
          followedNum.innerText = '/ 팔로워: ' + res.data.follower_count

        })
        .catch(err => console.error(err))
    })


</script>
{% endblock script %}